{
    debug
    default_bind 0.0.0.0
    log {
        format console
        level DEBUG
    }
}

:80 {
    handle_path /api/* {
        reverse_proxy http://backend:{$API_PORT}
    }

    handle {
        rewrite / /index.html
        root * /srv/
        file_server
        encode zstd gzip
    }
}
